@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic|Cardo);

body {
	font-family: 'Gentium Basic', 'Times New Roman', serif;
	font-size: 20px;
	background: url(bgred.png) repeat-y scroll right -75px, url(bgbtf.jpg) repeat scroll right top;
	background-color: #220000;
	color: #DDA642;
}
.container {
	width: 1270px;
	margin-right: 0;
}
#pagewrapper {
	margin-top: 200px;
}

#leftcol {
	min-height: 400px;
}
#rcol-about {
	text-shadow: 1px 1px #2C0001;/*, 0 0 10px #fff;*/
}
#rcol-about h1 {
	color: #DDA642;
	color: #fff;
}

#word {
	font-size: 36px;
	font-weight: bold;
}
#word .sound {
	font-family: 'Cardo', 'Times New Roman', serif;
	font-weight: normal;
}
#example {
	font-style: italic;
}
#example .vp {
	font-weight: bold;
	color: #fff;
}

#menu {
	margin-top: 50px;
}
#menu ul {
	padding: 0;
}
#menu ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
}
#menu ul li a {
	font-size: 18px;
	font-family: 'Gentium Basic', 'Times New Roman', serif;
	text-decoration: none;
	font-variant: small-caps;
	color: #DDA642;
	text-shadow: 1px 1px #000;
}
#menu ul li a.active {
	font-weight: bold;
}
#menu ul li a:hover {
	text-decoration: underline;
}